.app-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

header nav div {
    font-size: 24px;
}

.page-title {
    font-size: 30px;
    margin: 20px 0; 
    color: white; 
}

.main-title {
    font-size: 48px;
    margin: 20px 0; 
    color: black; 
}

.container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;  
    margin: 20px 0;  
}

.card {
    width: 200px; 
    margin: 10px; 
    text-align: center;  
    padding: 20px;  
    border: 2px solid black;
    border-radius: 8px; 
}

.card-body {
    margin: 10px 0; 
}

footer {
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
}