.navbar {
    display: inline-block;
}

/* .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 110%;
} */

.navbar a:hover {
    text-decoration: underline;
}

.navbar-background {
    background-image: url("../img/green-floral.jpg");
    background-size: cover;
    background-position: center;
    width: 100%
  }