.home {
    background-color: rgba(173, 216, 230, 0.5);
    min-height: 100vh; 
    width: 100%; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
    margin-top: auto; 
}

.filter-container .btn{
    margin-top: .5rem;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aliceblue;
    color: black;
    border-color:aliceblue;
}

.filter-container .btn:hover{
    margin-top: .5rem;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
}

.card-body .btn {
    width: 48%; 
}

.card-body .btn-success {
    white-space: nowrap; 
}