body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background-image: url('../src/img/pnw.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav input {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.container {
    display: flex;
}

aside {
    width: 20%;
    background-color: #f8f8f8;
    padding: 1em;
    border-right: 1px solid #ccc;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 1em 0;
}

aside ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
}

aside ul li a:hover {
    background-color: #ddd;
}

main {
    width: 80%;
    padding: 1em;
}

.welcome {
    background-color: #ddd;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.upcoming {
    background-color: #ddd;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.event {
    margin: 10px; 
    text-align: center;
}

.card-image {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 2em;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p, a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    cursor: pointer;
}

.footer-content p:hover {
    color: orange;
}

@media (max-width: 600px) {
    header, nav, .container, main, .events {
        flex-direction: column;
    }

    nav input, .event {
        width: 90%; 
    }

    .event {
        width: 100%; 
    }
}
