.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: rgba(173, 216, 230, 0.5);
    position: relative;
}

aside {
    flex: 0 0 25%;
    background-size: 100% 100%;
    padding: 1em;
    width: 20%; 
    position: relative;
    z-index: 1;
    border: 2px solid black; 
    border-radius: 10px; 
    margin-right: 20px; 
}



main {
    flex: 3;
    padding: 20px; 
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.333% - 20px); 
}

.event-card img {
    width: 100%;
    height: auto;
}

.welcome-message {
    color: black;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    text-shadow: 2px 2px 0px #b0b0b0, 4px 4px 0px blue; 
    font-size: 60px; 
}

.upcoming-events {
    background-color: white; 
    padding: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    aside {
        width: 90%;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2000; 
    }

    main {
        margin-top: 140px;
        z-index: 1;
    }

    .welcome-container {
        padding: 10px;
        text-align: center;
    }

    .welcome-message {
        font-size: 40px;  
    }

    .events-container {
        gap: 10px; 
    }

    .event-card {
        width: calc(50% - 10px); 
    }

    .event-card img {
        height: 120px; 
    }
}


